In [1]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_replace, col
import plotly.express as px
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.cm as cm
import matplotlib.colors as mcolors
import numpy as np
from sklearn.linear_model import LinearRegression

### Population Dataset

In [2]:
# Initialize Spark session 
spark = SparkSession.builder.appName("Databricks CSV Example").getOrCreate()

# Define the path to the CSV file in DBFS
file_path = "../Resources/population_census.csv"  

# Load the CSV file into a DataFrame
population_df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the DataFrame content
population_df.show()

# Print the DataFrame schema
population_df.printSchema()

your 131072x1 screen size is bogus. expect trouble
24/06/17 09:40:42 WARN Utils: Your hostname, DevanshNZ resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/06/17 09:40:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/17 09:40:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+--------+---------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|LGA code|Local Government Area|  2001|  2002|  2003|  2004|  2005|  2006|  2007|  2008|  2009|  2010|  2011|  2012|  2013|  2014|  2015|  2016|  2017|  2018|  2019|  2020|  2021|  2022|  2023|
+--------+---------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|   10050|               Albury| 45265| 45816| 46180| 46505| 47004| 47566| 48140| 48518| 48814| 49222| 49451| 49785| 50338| 50990| 51486| 52171| 53056| 53922| 54657| 55466| 56067| 56665| 57517|
|   10180|             Armidale| 27906| 27774| 27610| 27410| 27350| 27377| 27468| 27788| 28156| 28409| 28573| 28748| 28895| 29015| 29160| 29310| 29519| 29631| 29701| 29600| 29332| 29361| 29594|
|   10250|              Ballina| 37856| 38417| 38870| 39120| 39305| 39537| 39824| 40020| 40295| 40571| 40747| 41118| 41510| 41881| 42336| 42993| 43652| 44385| 44997| 45663| 46196| 46849| 47279|
|   10300|            Balranald|  2751|  2703|  2661|  2596|  2545|  2507|  2473|  2433|  2404|  2381|  2353|  2363|  2381|  2376|  2364|  2330|  2338|  2308|  2287|  2257|  2208|  2210|  2202|
|   10470|             Bathurst| 35504| 35831| 36084| 36245| 36547| 36916| 37272| 37904| 38848| 39484| 39960| 40301| 40727| 41157| 41694| 42244| 42583| 42882| 43207| 43444| 43674| 44110| 44612|
|   10500|        Bayside (NSW)|129075|129377|130598|131144|132112|133205|135831|139556|142527|144295|144985|148028|151309|154980|159222|164534|168779|171377|173913|176184|176229|177992|182987|
|   10550|          Bega Valley| 30425| 30790| 31056| 31406| 31608| 31829| 32183| 32367| 32620| 32962| 33128| 33288| 33430| 33562| 33713| 33941| 34287| 34674| 35026| 35428| 35770| 35985| 36279|
|   10600|            Bellingen| 12634| 12673| 12705| 12672| 12682| 12716| 12773| 12787| 12837| 12891| 12923| 12909| 12920| 12929| 12936| 12951| 12976| 13006| 13046| 13152| 13203| 13261| 13231|
|   10650|             Berrigan|  8075|  8058|  8035|  8014|  8076|  8160|  8204|  8237|  8282|  8291|  8297|  8365|  8436|  8519|  8568|  8609|  8638|  8645|  8649|  8653|  8615|  8652|  8643|
|   10750|            Blacktown|263103|267048|268806|271434|275206|278894|284925|292002|299450|306601|312346|317735|324797|331825|339449|348030|359591|369384|380186|391911|399925|410944|426202|
|   10800|                Bland|  6603|  6529|  6453|  6360|  6263|  6212|  6178|  6113|  6101|  6049|  6021|  6034|  6028|  6034|  6027|  6024|  5936|  5849|  5755|  5649|  5544|  5493|  5464|
|   10850|              Blayney|  6478|  6545|  6562|  6598|  6649|  6741|  6821|  6900|  7041|  7143|  7217|  7274|  7303|  7322|  7322|  7343|  7375|  7406|  7450|  7484|  7511|  7590|  7644|
|   10900|       Blue Mountains| 76528| 76656| 76651| 76436| 75971| 75600| 76198| 77102| 77869| 78227| 78553| 78532| 78705| 78867| 78889| 78835| 78989| 79107| 79077| 79031| 78372| 77913| 78446|
|   10950|                Bogan|  3156|  3105|  3052|  3027|  2964|  2939|  2972|  2992|  2999|  3013|  3009|  2982|  2926|  2894|  2846|  2764|  2708|  2648|  2602|  2514|  2480|  2454|  2420|
|   11150|               Bourke|  3919|  3781|  3642|  3494|  3349|  3185|  3073|  3046|  3013|  3033|  3053|  2998|  2903|  2870|  2801|  2762|  2695|  2600|  2534|  2483|  2416|  2348|  2365|
|   11200|           Brewarrina|  2148|  2121|  2078|  2039|  2029|  2004|  1961|  1944|  1900|  1878|  1874|  1821|  1830|  1786|  1762|  1710|  1683|  1637|  1591|  1525|  1487|  1431|  1411|
|   11250|          Broken Hill| 20929| 20681| 20403| 20111| 19915| 19753| 19708| 19604| 19421| 19267| 19151| 18985| 18802| 18627| 18360| 18114| 17994| 17914| 17801| 17718| 17662| 17567| 17624|
|   11300|              Burwood| 30393| 30682| 30980| 31370| 31696| 32199| 32893| 33343| 33708| 33835| 34176| 35095| 36145| 37200| 37822| 38536| 39275| 39773| 40333| 40670| 40440| 40850| 42498|
|   11350|                Byron| 29453| 29697| 29952| 30141| 30130| 30125| 30174| 30347| 30537| 30664| 30712| 31210| 31756| 32263| 32803| 33399| 33944| 34512| 35054| 35715| 36106| 36514| 37126|
|   11400|              Cabonne| 12447| 12478| 12482| 12506| 12543| 12634| 12706| 12799| 12929| 13071| 13211| 13322| 13473| 13506| 13511| 13577| 13683| 13729| 13773| 13814| 13767| 13843| 13880|
+--------+---------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 20 rows

root
 |-- LGA code: integer (nullable = true)
 |-- Local Government Area: string (nullable = true)
 |-- 2001: integer (nullable = true)
 |-- 2002: integer (nullable = true)
 |-- 2003: integer (nullable = true)
 |-- 2004: integer (nullable = true)
 |-- 2005: integer (nullable = true)
 |-- 2006: integer (nullable = true)
 |-- 2007: integer (nullable = true)
 |-- 2008: integer (nullable = true)
 |-- 2009: integer (nullable = true)
 |-- 2010: integer (nullable = true)
 |-- 2011: integer (nullable = true)
 |-- 2012: integer (nullable = true)
 |-- 2013: integer (nullable = true)
 |-- 2014: integer (nullable = true)
 |-- 2015: integer (nullable = true)
 |-- 2016: integer (nullable = true)
 |-- 2017: integer (nullable = true)
 |-- 2018: integer (nullable = true)
 |-- 2019: integer (nullable = true)
 |-- 2020: integer (nullable = true)
 |-- 2021: integer (nullable = true)
 |-- 2022: integer (nullable = true)
 |-- 2023: integer (nullable = true)

In [3]:
#Filter dataset for specific columns
pop_df=population_df.select("LGA code", "Local Government Area", "2021", "2022", "2023")

In [4]:
#Remove rows with Nan values
pop_df= pop_df.dropna()

In [5]:
# Dictionary of old and new column names
rename_dict = {
    "2021": "Population in 2021",
    "2022": "Population in 2022",
    "2023": "Population in 2023"
}

# Initialize Renamed_Income_df with the original DataFrame
filterd_pop_df = pop_df

# Apply renaming using a loop
for old_name, new_name in rename_dict.items():
    filterd_pop_df = filterd_pop_df.withColumnRenamed(old_name, new_name)

# Show the final DataFrame with all renamed columns
filterd_pop_df.show()

+--------+---------------------+------------------+------------------+------------------+
|LGA code|Local Government Area|Population in 2021|Population in 2022|Population in 2023|
+--------+---------------------+------------------+------------------+------------------+
|   10050|               Albury|             56067|             56665|             57517|
|   10180|             Armidale|             29332|             29361|             29594|
|   10250|              Ballina|             46196|             46849|             47279|
|   10300|            Balranald|              2208|              2210|              2202|
|   10470|             Bathurst|             43674|             44110|             44612|
|   10500|        Bayside (NSW)|            176229|            177992|            182987|
|   10550|          Bega Valley|             35770|             35985|             36279|
|   10600|            Bellingen|             13203|             13261|             13231|
|   10650|             Berrigan|              8615|              8652|              8643|
|   10750|            Blacktown|            399925|            410944|            426202|
|   10800|                Bland|              5544|              5493|              5464|
|   10850|              Blayney|              7511|              7590|              7644|
|   10900|       Blue Mountains|             78372|             77913|             78446|
|   10950|                Bogan|              2480|              2454|              2420|
|   11150|               Bourke|              2416|              2348|              2365|
|   11200|           Brewarrina|              1487|              1431|              1411|
|   11250|          Broken Hill|             17662|             17567|             17624|
|   11300|              Burwood|             40440|             40850|             42498|
|   11350|                Byron|             36106|             36514|             37126|
|   11400|              Cabonne|             13767|             13843|             13880|
+--------+---------------------+------------------+------------------+------------------+
only showing top 20 rows

### Income Dataset

In [6]:
# Define the path to the CSV file in DBFS
file_path = "../Resources/Income_by_geography.csv"  

# Load the CSV file into a DataFrame
Income_df = spark.read.csv(file_path, header=True, inferSchema=True)

Income_df.show()

Income_df.printSchema()

+---------------+-----------------+-----------------+---------------------+-------------------+--------+--------+-------+-------+-------+-------+----------------+-------------------+-------------------+--------------------+---------------+---------------+--------------+----------------+
|            LGA|         LGA NAME|Number of Earners|Median age of earners|                Sum|  Median|    Mean|P80/P20|P80/P50|P20/P50|P10/P50|Gini coefficient|Income share:Top 1%|Income share:Top 5%|Income share:Top 10%|Lowest Quartile|Second Quartile|Third Quartile|Highest Quartile|
+---------------+-----------------+-----------------+---------------------+-------------------+--------+--------+-------+-------+-------+-------+----------------+-------------------+-------------------+--------------------+---------------+---------------+--------------+----------------+
|     Australia |             NULL|      14,760,008 |                  42 | 1,040,901,408,310 | 54,890 | 70,522 |  5.00 |  1.88 |  0.38 |  0.14 |          0.483 |               9.8 |              22.5 |               33.4 |          25.0 |          25.0 |         25.0 |           25.0 |
|New South Wales|             NULL|       4,603,736 |                  42 |   341,107,484,589 | 55,854 | 74,094 |  5.00 |  1.90 |  0.38 |  0.15 |          0.497 |              11.2 |              24.3 |               35.2 |          24.6 |          24.6 |         24.7 |           26.1 |
|          10050|           Albury|          31,816 |                  43 |     1,985,173,923 | 53,392 | 62,395 |  4.38 |  1.72 |  0.39 |  0.15 |          0.437 |               7.5 |              19.2 |               29.5 |          24.7 |          26.9 |         28.5 |           19.9 |
|          10180|Armidale Regional|          15,535 |                  43 |       909,014,851 | 48,837 | 58,514 |  5.74 |  1.88 |  0.33 |  0.11 |          0.477 |               7.0 |              19.5 |               30.7 |          29.4 |          26.6 |         24.2 |           19.7 |
|          10250|          Ballina|          26,901 |                  48 |     1,621,086,399 | 47,527 | 60,261 |  5.47 |  1.89 |  0.35 |  0.12 |          0.484 |               8.6 |              21.7 |               32.8 |          29.0 |          28.3 |         23.5 |           19.1 |
|          10300|        Balranald|           1,316 |                  43 |        70,198,150 | 49,408 | 53,342 |  4.45 |  1.63 |  0.37 |  0.12 |          0.458 |               6.2 |              17.7 |               28.7 |          27.0 |          29.8 |         29.2 |           13.9 |
|          10470|Bathurst Regional|          23,828 |                  43 |     1,533,676,431 | 55,986 | 64,364 |  4.54 |  1.77 |  0.39 |  0.15 |          0.431 |               6.1 |              17.2 |               27.6 |          23.6 |          25.3 |         27.2 |           23.9 |
|          10500|          Bayside|         105,143 |                  38 |     7,060,158,434 | 55,000 | 67,148 |  4.48 |  1.84 |  0.41 |  0.18 |          0.443 |               6.6 |              18.7 |               29.7 |          23.7 |          26.2 |         25.8 |           24.3 |
|          10550|      Bega Valley|          20,488 |                  51 |     1,058,249,151 | 43,532 | 51,652 |  5.89 |  1.86 |  0.31 |  0.09 |          0.485 |               6.4 |              19.1 |               30.6 |          32.8 |          28.6 |         23.4 |           15.2 |
|          10600|        Bellingen|           7,150 |                  50 |       367,123,153 | 41,711 | 51,346 |  6.60 |  1.93 |  0.29 |  0.09 |          0.498 |               7.3 |              20.0 |               31.6 |          34.6 |          27.8 |         22.3 |           15.3 |
|          10650|         Berrigan|           4,757 |                  49 |       238,065,902 | 44,099 | 50,045 |  5.60 |  1.82 |  0.33 |  0.09 |          0.495 |               6.1 |              18.3 |               29.7 |          32.5 |          28.6 |         24.4 |           14.5 |
|          10750|        Blacktown|         215,560 |                  39 |    14,203,611,762 | 58,934 | 65,892 |  4.01 |  1.69 |  0.42 |  0.19 |          0.399 |               4.7 |              15.4 |               25.9 |          21.4 |          24.7 |         29.8 |           24.1 |
|          10800|            Bland|           3,169 |                  46 |       187,925,222 | 48,934 | 59,301 |  5.52 |  1.98 |  0.36 |  0.09 |          0.540 |               8.5 |              21.1 |               33.0 |          28.3 |          27.3 |         22.7 |           21.8 |
|          10850|          Blayney|           4,160 |                  47 |       260,898,868 | 54,218 | 62,716 |  5.39 |  1.82 |  0.34 |  0.11 |          0.485 |               7.8 |              19.2 |               30.1 |          26.6 |          24.0 |         26.1 |           23.3 |
|          10900|   Blue Mountains|          45,492 |                  47 |     3,131,959,254 | 56,229 | 68,846 |  5.62 |  1.90 |  0.34 |  0.11 |          0.463 |               6.8 |              18.9 |               29.9 |          26.0 |          23.0 |         23.2 |           27.8 |
|          10950|            Bogan|           1,528 |                  46 |        83,934,344 | 50,732 | 54,931 |  6.32 |  1.85 |  0.29 |  0.06 |          0.616 |               6.3 |              19.9 |               32.3 |          27.9 |          25.9 |         25.0 |           21.1 |
|          11150|           Bourke|           1,268 |                  42 |        77,916,464 | 57,292 | 61,448 |  4.76 |  1.73 |  0.36 |  0.13 |          0.465 |               4.8 |              15.9 |               26.9 |          24.5 |          23.1 |         27.8 |           24.6 |
|          11200|       Brewarrina|             579 |                  42 |        30,700,022 | 50,721 | 53,022 |  5.14 |  1.69 |  0.33 |  0.09 |          0.461 |               3.5 |              15.0 |               26.5 |          27.8 |          26.9 |         28.3 |           17.1 |
|          11250|      Broken Hill|           8,459 |                  44 |       541,268,389 | 56,376 | 63,987 |  4.83 |  1.81 |  0.37 |  0.15 |          0.420 |               4.6 |              15.1 |               25.8 |          24.2 |          24.4 |         26.1 |           25.3 |
|          11300|          Burwood|          24,620 |                  36 |     1,555,624,068 | 45,588 | 63,185 |  5.26 |  2.07 |  0.39 |  0.16 |          0.501 |               9.1 |              22.9 |               34.7 |          29.9 |          28.1 |         21.2 |           20.8 |
+---------------+-----------------+-----------------+---------------------+-------------------+--------+--------+-------+-------+-------+-------+----------------+-------------------+-------------------+--------------------+---------------+---------------+--------------+----------------+
only showing top 20 rows

root
 |-- LGA: string (nullable = true)
 |-- LGA NAME: string (nullable = true)
 |-- Number of Earners: string (nullable = true)
 |-- Median age of earners: string (nullable = true)
 |-- Sum: string (nullable = true)
 |-- Median: string (nullable = true)
 |-- Mean: string (nullable = true)
 |-- P80/P20: string (nullable = true)
 |-- P80/P50: string (nullable = true)
 |-- P20/P50: string (nullable = true)
 |-- P10/P50: string (nullable = true)
 |-- Gini coefficient: string (nullable = true)
 |-- Income share:Top 1%: string (nullable = true)
 |-- Income share:Top 5%: string (nullable = true)
 |-- Income share:Top 10%: string (nullable = true)
 |-- Lowest Quartile: string (nullable = true)
 |-- Second Quartile: string (nullable = true)
 |-- Third Quartile: string (nullable = true)
 |-- Highest Quartile: string (nullable = true)

In [7]:
#Filter dataset for specific columns
Filtered_Income_df=Income_df.select("LGA", "LGA NAME", "Number of Earners", "Median age of earners", "Mean")

In [8]:
# Dictionary of old and new column names
rename_dict = {
    "LGA": "LGA code",
    "LGA NAME": "Local Government Area",
    "Median age of earners": "Median Age of Earners",
    "Mean": "Mean Income"
}

# Initialize Renamed_Income_df with the original DataFrame
Renamed_Income_df = Filtered_Income_df

# Apply renaming using a loop
for old_name, new_name in rename_dict.items():
    Renamed_Income_df = Renamed_Income_df.withColumnRenamed(old_name, new_name)

# Show the final DataFrame with all renamed columns
Renamed_Income_df.show()

+---------------+---------------------+-----------------+---------------------+-----------+
|       LGA code|Local Government Area|Number of Earners|Median Age of Earners|Mean Income|
+---------------+---------------------+-----------------+---------------------+-----------+
|     Australia |                 NULL|      14,760,008 |                  42 |    70,522 |
|New South Wales|                 NULL|       4,603,736 |                  42 |    74,094 |
|          10050|               Albury|          31,816 |                  43 |    62,395 |
|          10180|    Armidale Regional|          15,535 |                  43 |    58,514 |
|          10250|              Ballina|          26,901 |                  48 |    60,261 |
|          10300|            Balranald|           1,316 |                  43 |    53,342 |
|          10470|    Bathurst Regional|          23,828 |                  43 |    64,364 |
|          10500|              Bayside|         105,143 |                  38 |    67,148 |
|          10550|          Bega Valley|          20,488 |                  51 |    51,652 |
|          10600|            Bellingen|           7,150 |                  50 |    51,346 |
|          10650|             Berrigan|           4,757 |                  49 |    50,045 |
|          10750|            Blacktown|         215,560 |                  39 |    65,892 |
|          10800|                Bland|           3,169 |                  46 |    59,301 |
|          10850|              Blayney|           4,160 |                  47 |    62,716 |
|          10900|       Blue Mountains|          45,492 |                  47 |    68,846 |
|          10950|                Bogan|           1,528 |                  46 |    54,931 |
|          11150|               Bourke|           1,268 |                  42 |    61,448 |
|          11200|           Brewarrina|             579 |                  42 |    53,022 |
|          11250|          Broken Hill|           8,459 |                  44 |    63,987 |
|          11300|              Burwood|          24,620 |                  36 |    63,185 |
+---------------+---------------------+-----------------+---------------------+-----------+
only showing top 20 rows

In [9]:
Renamed_Income_df = Renamed_Income_df.dropna(subset=['Local Government Area'])
Renamed_Income_df.printSchema()

root
 |-- LGA code: string (nullable = true)
 |-- Local Government Area: string (nullable = true)
 |-- Number of Earners: string (nullable = true)
 |-- Median Age of Earners: string (nullable = true)
 |-- Mean Income: string (nullable = true)

In [10]:
# Clean the data: Remove non-numeric characters (commas, spaces) before casting
cleaned_Income_df = Renamed_Income_df.withColumn("Number of Earners", regexp_replace("Number of Earners", "[^0-9]", "")) \
                                     .withColumn("Mean Income", regexp_replace("Mean Income", "[^0-9]", ""))

# Cast cleaned columns to integer
cleaned_Income_df = cleaned_Income_df.withColumn("Number of Earners", col("Number of Earners").cast("int")) \
                                     .withColumn("Mean Income", col("Mean Income").cast("int"))

# Also cast 'LGA code' to integer, but ensure it only processes numeric values
cleaned_Income_df = cleaned_Income_df.withColumn("LGA code", col("LGA code").cast("int"))

# Show the resulting DataFrame
cleaned_Income_df.show()

+--------+---------------------+-----------------+---------------------+-----------+
|LGA code|Local Government Area|Number of Earners|Median Age of Earners|Mean Income|
+--------+---------------------+-----------------+---------------------+-----------+
|   10050|               Albury|            31816|                  43 |      62395|
|   10180|    Armidale Regional|            15535|                  43 |      58514|
|   10250|              Ballina|            26901|                  48 |      60261|
|   10300|            Balranald|             1316|                  43 |      53342|
|   10470|    Bathurst Regional|            23828|                  43 |      64364|
|   10500|              Bayside|           105143|                  38 |      67148|
|   10550|          Bega Valley|            20488|                  51 |      51652|
|   10600|            Bellingen|             7150|                  50 |      51346|
|   10650|             Berrigan|             4757|                  49 |      50045|
|   10750|            Blacktown|           215560|                  39 |      65892|
|   10800|                Bland|             3169|                  46 |      59301|
|   10850|              Blayney|             4160|                  47 |      62716|
|   10900|       Blue Mountains|            45492|                  47 |      68846|
|   10950|                Bogan|             1528|                  46 |      54931|
|   11150|               Bourke|             1268|                  42 |      61448|
|   11200|           Brewarrina|              579|                  42 |      53022|
|   11250|          Broken Hill|             8459|                  44 |      63987|
|   11300|              Burwood|            24620|                  36 |      63185|
|   11350|                Byron|            23058|                  44 |      63717|
|   11400|              Cabonne|             7737|                  46 |      63411|
+--------+---------------------+-----------------+---------------------+-----------+
only showing top 20 rows

In [11]:
Renamed_Income_df = cleaned_Income_df

### Merging cleaned Population and Income datsets together

In [12]:
# Alias the DataFrames before joining
pop_alias = filterd_pop_df.alias("pop")
income_alias = Renamed_Income_df.alias("income")

# Join the aliased DataFrames
Pop_Inc_df = pop_alias.join(income_alias, 
                             (pop_alias['LGA code'] == income_alias['LGA code']) & 
                             (pop_alias['Local Government Area'] == income_alias['Local Government Area']), 
                             'inner')

# Select only the columns you want to show in the merged DataFrame
Pop_Inc_df = Pop_Inc_df.select("pop.LGA code", "pop.Local Government Area", "Population in 2021", 
                                "Population in 2022", "Population in 2023", 
                                "Number of Earners", "Median Age of Earners", "Mean Income")

# Show the merged DataFrame
Pop_Inc_df.show()

+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+
|LGA code|Local Government Area|Population in 2021|Population in 2022|Population in 2023|Number of Earners|Median Age of Earners|Mean Income|
+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+
|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|
|   10250|              Ballina|             46196|             46849|             47279|            26901|                  48 |      60261|
|   10300|            Balranald|              2208|              2210|              2202|             1316|                  43 |      53342|
|   10550|          Bega Valley|             35770|             35985|             36279|            20488|                  51 |      51652|
|   10600|            Bellingen|             13203|             13261|             13231|             7150|                  50 |      51346|
|   10650|             Berrigan|              8615|              8652|              8643|             4757|                  49 |      50045|
|   10750|            Blacktown|            399925|            410944|            426202|           215560|                  39 |      65892|
|   10800|                Bland|              5544|              5493|              5464|             3169|                  46 |      59301|
|   10850|              Blayney|              7511|              7590|              7644|             4160|                  47 |      62716|
|   10900|       Blue Mountains|             78372|             77913|             78446|            45492|                  47 |      68846|
|   10950|                Bogan|              2480|              2454|              2420|             1528|                  46 |      54931|
|   11150|               Bourke|              2416|              2348|              2365|             1268|                  42 |      61448|
|   11200|           Brewarrina|              1487|              1431|              1411|              579|                  42 |      53022|
|   11250|          Broken Hill|             17662|             17567|             17624|             8459|                  44 |      63987|
|   11300|              Burwood|             40440|             40850|             42498|            24620|                  36 |      63185|
|   11350|                Byron|             36106|             36514|             37126|            23058|                  44 |      63717|
|   11400|              Cabonne|             13767|             13843|             13880|             7737|                  46 |      63411|
|   11450|               Camden|            120083|            127808|            134811|            66890|                  38 |      72912|
|   11520|           Canada Bay|             89685|             89236|             91385|            56351|                  42 |      90610|
|   11570| Canterbury-Bankstown|            372459|            372119|            379829|           187608|                  40 |      58857|
+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+
only showing top 20 rows

### Australian Postcode datset with Lat & Long

In [13]:
# Define the path to the CSV file in DBFS
file_path = "../Resources/australian_postcodes.csv"  

# Load the CSV file into a DataFrame
Postcode_df = spark.read.csv(file_path, header=True, inferSchema=True)

Postcode_df.show()

Postcode_df.printSchema()

24/06/17 09:41:08 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----+--------+--------------------+-----+-----------+------------+--------------------+-----------------+--------------------+-----+--------------+----+--------------------+------+-----------+------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------+-------+-------+------------+--------+--------+----+----------------+----------+--------+------------------+--------------------+-------+----------+------------------+--------+-----------+
|   id|postcode|            locality|state|       long|         lat|                  dc|             type|              status|  sa3|       sa3name| sa4|             sa4name|region|Lat_precise|Long_precise|SA1_CODE_2021|SA1_NAME_2021|SA2_CODE_2021|SA2_NAME_2021|SA3_CODE_2021|SA3_NAME_2021|SA4_CODE_2021|SA4_NAME_2021|RA_2011|RA_2016|RA_2021|RA_2021_NAME|MMM_2015|MMM_2019| ced|        altitude|chargezone|phn_code|          phn_name|           lgaregion|lgacode|electorate|  electoraterating|sed_code|   sed_name|
+-----+--------+--------------------+-----+-----------+------------+--------------------+-----------------+--------------------+-----+--------------+----+--------------------+------+-----------+------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------+-------+-------+------------+--------+--------+----+----------------+----------+--------+------------------+--------------------+-------+----------+------------------+--------+-----------+
|  230|     200|                 ANU|  ACT|    149.119|    -35.2777|                NULL|             NULL|  Updated 3-Dec-2022| NULL|          NULL|NULL|                NULL|    R1|   -35.2777|     149.119|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|      1|      1|   NULL|        NULL|       1|       1|NULL|            NULL|        N2|    NULL|              NULL|  Unincorporated ACT|  89399|    Durack|              NULL|    NULL|       NULL|
|21820|     200|Australian Nation...|  ACT|   149.1189|    -35.2777|                NULL|             NULL|  Updated 3-Dec-2022| NULL|          NULL|NULL|                NULL|    R1|-35.2776999|  149.118527|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|      1|      1|   NULL|        NULL|       1|       1|NULL|            NULL|        N2|    NULL|              NULL|  Unincorporated ACT|  89399|    Durack|              NULL|    NULL|       NULL|
|  232|     800|              DARWIN|   NT|  130.83668|  -12.458684|                NULL|             NULL|  Updated 3-Dec-2022|70101|   Darwin City| 701|              Darwin|    R1|-12.3932794| 130.7766611|  70101100231|  Darwin City|    701011002|  Darwin City|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|            NULL|       NT1|  PHN701|Northern Territory|Darwin Waterfront...|  71150|   Solomon|Inner Metropolitan|   70022|Port Darwin|
|24049|     800|         DARWIN CITY|   NT|  130.83668|  -12.458684|                NULL|             NULL|  Updated 3-Dec-2022|70101|   Darwin City| 701|              Darwin|    R1|-12.3932794| 130.7766611|  70101100231|  Darwin City|    701011002|  Darwin City|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|            NULL|       NT1|  PHN701|Northern Territory|Darwin Waterfront...|  71150|   Solomon|Inner Metropolitan|   70022|Port Darwin|
|  233|     801|              DARWIN|   NT|  130.83668|  -12.458684|                NULL|             NULL|  Updated 3-Dec-2022|70101|   Darwin City| 701|              Darwin|    R1|-12.4634403| 130.8456418|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|            NULL|       NT1|  PHN701|              NULL|              Darwin|  71000|  Lingiari|             Rural|    NULL|       NULL|
|24055|     803|        WAGAIT BEACH|   NT|130.7459083|-12.43399126|                NULL|Post Office Boxes|Updated 17-Mar-20...|70205|     Katherine| 702|Northern Territor...|    R1|        0.0|         0.0|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|   NULL|   NULL|   NULL|        NULL|    NULL|    NULL|NULL|18.5299186706543|      NULL|    NULL|              NULL|                NULL|   NULL|      NULL|              NULL|    NULL|       NULL|
|  234|     804|               PARAP|   NT| 130.873315|  -12.428017|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|-12.4324801| 130.8462536|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|            NULL|       NT1|  PHN701|              NULL|              Darwin|  71000|    Durack|              NULL|    NULL|       NULL|
|  235|     810|               ALAWA|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|     -12.38|     130.873|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  236|     810|             BRINKIN|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|     -12.37|     130.867|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  237|     810|           CASUARINA|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.373333|  130.881667|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|19972|     810|       COCONUT GROVE|   NT|130.8502369|-12.39614166|Northern Territor...|    Delivery Area|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|   -12.3989|     130.852|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  239|     810|             JINGILI|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.386667|  130.875278|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  240|     810|           LEE POINT|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.339444|  130.893056|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|19973|     810|               LYONS|   NT|130.8885151|-12.35911956|Northern Territor...|    Delivery Area|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|   -12.3603|     130.889|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  241|     810|             MILLNER|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.391111|  130.863208|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  242|     810|                MOIL|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.388889|  130.879167|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|19974|     810|            MUIRHEAD|   NT|130.8959029|-12.35811947|Northern Territor...|    Delivery Area|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|   -12.3583|     130.896|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  243|     810|              NAKARA|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.369444|  130.878056|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  244|     810|          NIGHTCLIFF|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1|    -12.383|     130.849|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
|  245|     810|         RAPID CREEK|   NT| 130.866242|  -12.381806|                NULL|             NULL|  Updated 3-Dec-2022|70102|Darwin Suburbs| 701|              Darwin|    R1| -12.380833|  130.862222|  70102102904|      Wanguri|    701021029|      Wanguri|         NULL|         NULL|         NULL|         NULL|      3|      3|   NULL|        NULL|       2|       2|NULL|9.22142887115479|       NT1|  PHN701|Northern Territory|              Darwin|  71000|   Solomon|Inner Metropolitan|   70025|    Wanguri|
+-----+--------+--------------------+-----+-----------+------------+--------------------+-----------------+--------------------+-----+--------------+----+--------------------+------+-----------+------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------+-------+-------+------------+--------+--------+----+----------------+----------+--------+------------------+--------------------+-------+----------+------------------+--------+-----------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- postcode: integer (nullable = true)
 |-- locality: string (nullable = true)
 |-- state: string (nullable = true)
 |-- long: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- dc: string (nullable = true)
 |-- type: string (nullable = true)
 |-- status: string (nullable = true)
 |-- sa3: integer (nullable = true)
 |-- sa3name: string (nullable = true)
 |-- sa4: integer (nullable = true)
 |-- sa4name: string (nullable = true)
 |-- region: string (nullable = true)
 |-- Lat_precise: double (nullable = true)
 |-- Long_precise: double (nullable = true)
 |-- SA1_CODE_2021: long (nullable = true)
 |-- SA1_NAME_2021: string (nullable = true)
 |-- SA2_CODE_2021: integer (nullable = true)
 |-- SA2_NAME_2021: string (nullable = true)
 |-- SA3_CODE_2021: integer (nullable = true)
 |-- SA3_NAME_2021: string (nullable = true)
 |-- SA4_CODE_2021: integer (nullable = true)
 |-- SA4_NAME_2021: string (nullable = true)
 |-- RA_2011: integer (nullable = true)
 |-- RA_2016: integer (nullable = true)
 |-- RA_2021: integer (nullable = true)
 |-- RA_2021_NAME: string (nullable = true)
 |-- MMM_2015: integer (nullable = true)
 |-- MMM_2019: integer (nullable = true)
 |-- ced: string (nullable = true)
 |-- altitude: double (nullable = true)
 |-- chargezone: string (nullable = true)
 |-- phn_code: string (nullable = true)
 |-- phn_name: string (nullable = true)
 |-- lgaregion: string (nullable = true)
 |-- lgacode: integer (nullable = true)
 |-- electorate: string (nullable = true)
 |-- electoraterating: string (nullable = true)
 |-- sed_code: integer (nullable = true)
 |-- sed_name: string (nullable = true)

In [14]:
#Filter dataset for specific columns
Postcode_df = Postcode_df.select("postcode", "Lat_precise", "Long_precise", "lgaregion", "lgacode")

In [15]:
# Dictionary of old and new column names
rename_dict = {
    "postcode": "Postcode",
    "lgacode": "LGA code",
    "lgaregion": "Local Government Area",
}

# Initialize Renamed_Income_df with the original DataFrame
Renamed_Postcode_df = Postcode_df

# Apply renaming using a loop
for old_name, new_name in rename_dict.items():
    Renamed_Postcode_df = Renamed_Postcode_df.withColumnRenamed(old_name, new_name)

# Show the final DataFrame with all renamed columns
Renamed_Postcode_df.show()

+--------+-----------+------------+---------------------+--------+
|Postcode|Lat_precise|Long_precise|Local Government Area|LGA code|
+--------+-----------+------------+---------------------+--------+
|     200|   -35.2777|     149.119|   Unincorporated ACT|   89399|
|     200|-35.2776999|  149.118527|   Unincorporated ACT|   89399|
|     800|-12.3932794| 130.7766611| Darwin Waterfront...|   71150|
|     800|-12.3932794| 130.7766611| Darwin Waterfront...|   71150|
|     801|-12.4634403| 130.8456418|               Darwin|   71000|
|     803|        0.0|         0.0|                 NULL|    NULL|
|     804|-12.4324801| 130.8462536|               Darwin|   71000|
|     810|     -12.38|     130.873|               Darwin|   71000|
|     810|     -12.37|     130.867|               Darwin|   71000|
|     810| -12.373333|  130.881667|               Darwin|   71000|
|     810|   -12.3989|     130.852|               Darwin|   71000|
|     810| -12.386667|  130.875278|               Darwin|   71000|
|     810| -12.339444|  130.893056|               Darwin|   71000|
|     810|   -12.3603|     130.889|               Darwin|   71000|
|     810| -12.391111|  130.863208|               Darwin|   71000|
|     810| -12.388889|  130.879167|               Darwin|   71000|
|     810|   -12.3583|     130.896|               Darwin|   71000|
|     810| -12.369444|  130.878056|               Darwin|   71000|
|     810|    -12.383|     130.849|               Darwin|   71000|
|     810| -12.380833|  130.862222|               Darwin|   71000|
+--------+-----------+------------+---------------------+--------+
only showing top 20 rows

In [16]:
Renamed_Postcode_df = Renamed_Postcode_df.dropna(subset=['Local Government Area'])
Renamed_Postcode_df.show()

+--------+-----------+------------+---------------------+--------+
|Postcode|Lat_precise|Long_precise|Local Government Area|LGA code|
+--------+-----------+------------+---------------------+--------+
|     200|   -35.2777|     149.119|   Unincorporated ACT|   89399|
|     200|-35.2776999|  149.118527|   Unincorporated ACT|   89399|
|     800|-12.3932794| 130.7766611| Darwin Waterfront...|   71150|
|     800|-12.3932794| 130.7766611| Darwin Waterfront...|   71150|
|     801|-12.4634403| 130.8456418|               Darwin|   71000|
|     804|-12.4324801| 130.8462536|               Darwin|   71000|
|     810|     -12.38|     130.873|               Darwin|   71000|
|     810|     -12.37|     130.867|               Darwin|   71000|
|     810| -12.373333|  130.881667|               Darwin|   71000|
|     810|   -12.3989|     130.852|               Darwin|   71000|
|     810| -12.386667|  130.875278|               Darwin|   71000|
|     810| -12.339444|  130.893056|               Darwin|   71000|
|     810|   -12.3603|     130.889|               Darwin|   71000|
|     810| -12.391111|  130.863208|               Darwin|   71000|
|     810| -12.388889|  130.879167|               Darwin|   71000|
|     810|   -12.3583|     130.896|               Darwin|   71000|
|     810| -12.369444|  130.878056|               Darwin|   71000|
|     810|    -12.383|     130.849|               Darwin|   71000|
|     810| -12.380833|  130.862222|               Darwin|   71000|
|     810| -12.363333|  130.880278|               Darwin|   71000|
+--------+-----------+------------+---------------------+--------+
only showing top 20 rows

### Merging Australian Postcode dataset with Polulation and Income dataset

In [17]:
# Alias the DataFrames before joining
pop_alias = Pop_Inc_df.alias("pop")
pc_alias = Renamed_Postcode_df.alias("pc")

# Join the aliased DataFrames on both 'LGA code' and 'Local Government Area'
Pop_Inc_PC_df = pop_alias.join(pc_alias, 
                             (pop_alias['LGA code'] == pc_alias['LGA code']) & 
                             (pop_alias['Local Government Area'] == pc_alias['Local Government Area']), 
                             'inner')

# Select only the columns you want to show in the merged DataFrame
Pop_Inc_PC_df = Pop_Inc_PC_df.select("pc.Postcode", 
                                     "pop.LGA code", 
                                     "pop.Local Government Area", 
                                     "Population in 2021", 
                                     "Population in 2022", 
                                     "Population in 2023", 
                                     "Number of Earners", 
                                     "Median Age of Earners", 
                                     "Mean Income", 
                                     "pc.Lat_precise", 
                                     "pc.Long_precise")

# Show the merged DataFrame
Pop_Inc_PC_df.show()
Pop_Inc_PC_df.printSchema()

+--------+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+-----------+------------+
|Postcode|LGA code|Local Government Area|Population in 2021|Population in 2022|Population in 2023|Number of Earners|Median Age of Earners|Mean Income|Lat_precise|Long_precise|
+--------+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+-----------+------------+
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.1241|     146.882|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.4916755| 147.0710248|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-35.9689949| 147.4036985|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395| -36.233333|  147.033333|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.0658326| 147.2208225|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.2667509| 146.9457191|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.5313566| 147.0479616|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.3087971| 146.8933207|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|    -35.986|     147.619|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.5896586| 147.1003269|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.2836195| 147.6208862|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.2374|     146.966|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.2330793| 146.8374363|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.0951|     147.044|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.1385938|  146.952051|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.2732078|  147.019899|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.4268421| 147.0361627|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.3415784| 147.0076483|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.5961|     146.999|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.5942273|  147.000254|
+--------+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+-----------+------------+
only showing top 20 rows

root
 |-- Postcode: integer (nullable = true)
 |-- LGA code: integer (nullable = true)
 |-- Local Government Area: string (nullable = true)
 |-- Population in 2021: integer (nullable = true)
 |-- Population in 2022: integer (nullable = true)
 |-- Population in 2023: integer (nullable = true)
 |-- Number of Earners: integer (nullable = true)
 |-- Median Age of Earners: string (nullable = true)
 |-- Mean Income: integer (nullable = true)
 |-- Lat_precise: double (nullable = true)
 |-- Long_precise: double (nullable = true)

### Vehicle Registration Dataset

In [18]:
# Define the path to the CSV file in DBFS
file_path = "../Resources/Postcode_registration.csv"  

# Load the CSV file into a DataFrame
EV_df = spark.read.csv(file_path, header=True, inferSchema=True)

EV_df.show()

EV_df.printSchema()

+--------+-----+-----------+-------------------------------------+-------------------------------------+-------------------------------------+
|Postcode|State|  Fuel Type| Registrations as at 31 January 2021 | Registrations as at 31 January 2022 | Registrations as at 31 January 2023 |
+--------+-----+-----------+-------------------------------------+-------------------------------------+-------------------------------------+
|     800|   NT|        ICE|                               6,780 |                               7,318 |                               7,089 |
|     800|   NT|        BEV|                                   3 |                                   3 |                                  12 |
|     800|   NT|      HFCEV|                                 -   |                                 -   |                                 -   |
|     800|   NT|Hybrid/PHEV|                                 131 |                                 411 |                                 402 |
|     810|   NT|        ICE|                              21,870 |                              22,092 |                              21,890 |
|     810|   NT|        BEV|                                   6 |                                  16 |                                  22 |
|     810|   NT|      HFCEV|                                 -   |                                 -   |                                 -   |
|     810|   NT|Hybrid/PHEV|                                 288 |                                 375 |                                 467 |
|     812|   NT|        ICE|                              11,925 |                              11,845 |                              11,742 |
|     812|   NT|        BEV|                                   3 |                                   5 |                                  14 |
|     812|   NT|      HFCEV|                                 -   |                                 -   |                                 -   |
|     812|   NT|Hybrid/PHEV|                                 125 |                                 161 |                                 219 |
|     820|   NT|        ICE|                              19,921 |                              19,804 |                              20,445 |
|     820|   NT|        BEV|                                  11 |                                  18 |                                  45 |
|     820|   NT|      HFCEV|                                 -   |                                 -   |                                 -   |
|     820|   NT|Hybrid/PHEV|                                 267 |                                 358 |                                 723 |
|     822|   NT|        ICE|                               6,408 |                               6,262 |                               6,408 |
|     822|   NT|        BEV|                                 -   |                                   3 |                                   3 |
|     822|   NT|      HFCEV|                                 -   |                                 -   |                                 -   |
|     822|   NT|Hybrid/PHEV|                                  24 |                                  37 |                                  41 |
+--------+-----+-----------+-------------------------------------+-------------------------------------+-------------------------------------+
only showing top 20 rows

root
 |-- Postcode: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- Fuel Type: string (nullable = true)
 |--  Registrations as at 31 January 2021 : string (nullable = true)
 |--  Registrations as at 31 January 2022 : string (nullable = true)
 |--  Registrations as at 31 January 2023 : string (nullable = true)

In [19]:
# Rename columns with special characters
EV_df = EV_df.withColumnRenamed(" Registrations as at 31 January 2021 ", "Registrations_2021") \
                               .withColumnRenamed(" Registrations as at 31 January 2022 ", "Registrations_2022") \
                               .withColumnRenamed(" Registrations as at 31 January 2023 ", "Registrations_2023")

# Convert columns to integers
EV_df = EV_df.withColumn("Registrations_2021", 
                                           col("Registrations_2021").cast("int")) \
                               .withColumn("Registrations_2022", 
                                           col("Registrations_2022").cast("int")) \
                               .withColumn("Registrations_2023", 
                                           col("Registrations_2023").cast("int"))

# Show the DataFrame
EV_df.show()

+--------+-----+-----------+------------------+------------------+------------------+
|Postcode|State|  Fuel Type|Registrations_2021|Registrations_2022|Registrations_2023|
+--------+-----+-----------+------------------+------------------+------------------+
|     800|   NT|        ICE|              NULL|              NULL|              NULL|
|     800|   NT|        BEV|                 3|                 3|                12|
|     800|   NT|      HFCEV|              NULL|              NULL|              NULL|
|     800|   NT|Hybrid/PHEV|               131|               411|               402|
|     810|   NT|        ICE|              NULL|              NULL|              NULL|
|     810|   NT|        BEV|                 6|                16|                22|
|     810|   NT|      HFCEV|              NULL|              NULL|              NULL|
|     810|   NT|Hybrid/PHEV|               288|               375|               467|
|     812|   NT|        ICE|              NULL|              NULL|              NULL|
|     812|   NT|        BEV|                 3|                 5|                14|
|     812|   NT|      HFCEV|              NULL|              NULL|              NULL|
|     812|   NT|Hybrid/PHEV|               125|               161|               219|
|     820|   NT|        ICE|              NULL|              NULL|              NULL|
|     820|   NT|        BEV|                11|                18|                45|
|     820|   NT|      HFCEV|              NULL|              NULL|              NULL|
|     820|   NT|Hybrid/PHEV|               267|               358|               723|
|     822|   NT|        ICE|              NULL|              NULL|              NULL|
|     822|   NT|        BEV|              NULL|                 3|                 3|
|     822|   NT|      HFCEV|              NULL|              NULL|              NULL|
|     822|   NT|Hybrid/PHEV|                24|                37|                41|
+--------+-----+-----------+------------------+------------------+------------------+
only showing top 20 rows

### Merging Vehicle registration dataset with Polulation-Income-Postcode dataset

In [20]:
# Perform the join operation
merged_df = Pop_Inc_PC_df.join(EV_df, on='Postcode', how='inner')

# Show the resulting DataFrame
merged_df.show()

+--------+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+-----------+------------+-----+-----------+------------------+------------------+------------------+
|Postcode|LGA code|Local Government Area|Population in 2021|Population in 2022|Population in 2023|Number of Earners|Median Age of Earners|Mean Income|Lat_precise|Long_precise|State|  Fuel Type|Registrations_2021|Registrations_2022|Registrations_2023|
+--------+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+-----------+------------+-----+-----------+------------------+------------------+------------------+
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.1241|     146.882|  VIC|Hybrid/PHEV|                44|                73|               106|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.1241|     146.882|  VIC|      HFCEV|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.1241|     146.882|  VIC|        BEV|                 6|                 8|                22|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|   -36.1241|     146.882|  VIC|        ICE|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.4916755| 147.0710248|  VIC|Hybrid/PHEV|                44|                73|               106|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.4916755| 147.0710248|  VIC|      HFCEV|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.4916755| 147.0710248|  VIC|        BEV|                 6|                 8|                22|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.4916755| 147.0710248|  VIC|        ICE|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-35.9689949| 147.4036985|  VIC|Hybrid/PHEV|                44|                73|               106|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-35.9689949| 147.4036985|  VIC|      HFCEV|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-35.9689949| 147.4036985|  VIC|        BEV|                 6|                 8|                22|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-35.9689949| 147.4036985|  VIC|        ICE|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395| -36.233333|  147.033333|  VIC|Hybrid/PHEV|                44|                73|               106|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395| -36.233333|  147.033333|  VIC|      HFCEV|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395| -36.233333|  147.033333|  VIC|        BEV|                 6|                 8|                22|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395| -36.233333|  147.033333|  VIC|        ICE|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.0658326| 147.2208225|  VIC|Hybrid/PHEV|                44|                73|               106|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.0658326| 147.2208225|  VIC|      HFCEV|              NULL|              NULL|              NULL|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.0658326| 147.2208225|  VIC|        BEV|                 6|                 8|                22|
|    3691|   10050|               Albury|             56067|             56665|             57517|            31816|                  43 |      62395|-36.0658326| 147.2208225|  VIC|        ICE|              NULL|              NULL|              NULL|
+--------+--------+---------------------+------------------+------------------+------------------+-----------------+---------------------+-----------+-----------+------------+-----+-----------+------------------+------------------+------------------+
only showing top 20 rows

In [21]:
# Convert PySpark DataFrame to Pandas DataFrame
merged_pd_df = merged_df.toPandas()

### Saving the cleaned dataset to CSV

In [22]:
# Write merged dataframe to CSV
merged_pd_df.to_csv("../cleaned_data/Population_Income_Registration.csv")